extends layout.pug

block content

  article.portfolio-intro
 
    h1 My Portfolio
    
    p Made for showing Fullstack javaScript Portfolio


  article.portfolio-project-thumbs
    .projects-box.box.grid
 
      each project in projectsArray
          .cell
            a(href=`/projects/${project.id}`)

              img.thumbnail(src=`${project.image}`, alt='Code Project Image')

              h5= project.title



